<ion-view title="Contact / Social" id="page4" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-chatbubble"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a href-inappbrowser="https://fb.me/gtbeatsbiz" id="contactSocial-button5" class="button button-dark  button-block icon-left ion-social-facebook">Facebook</a>
    <a href-inappbrowser="http://m.me/gtbeatsbiz" id="contactSocial-button6" class="button button-dark  button-block icon-left ion-social-facebook-outline">Messenger</a>
    <a href-inappbrowser="https://www.twitter.com/gt_beats" id="contactSocial-button7" class="button button-dark  button-block icon-left ion-social-twitter">Twitter</a>
    <a href-inappbrowser="https://www.instagram.com/gt_beats" id="contactSocial-button8" class="button button-dark  button-block icon-left ion-social-instagram-outline">Instagram</a>
    <a href-inappbrowser="https://www.snapchat.com/add/gtbeats.biz" id="contactSocial-button9" class="button button-dark  button-block icon-left ion-social-snapchat">Snapchat</a>
    <a href="mailto:matt@gtbeats.biz" id="contactSocial-button10" class="button button-dark  button-block icon-left ion-ios-email-outline">Email</a>
    <a href="tel:8508880408" id="contactSocial-button11" class="button button-dark  button-block icon-left ion-ios-telephone-outline">Call</a>
    <a href-inappbrowser="sms://+18508880408" id="contactSocial-button18" class="button button-dark  button-block icon-left ion-android-textsms">Text Message</a>
  </ion-content>
</ion-view>